


html {
    /* 스크롤 이동 시 부드럽게 이동 */
    /* scroll-behavior: smooth;  */
}

header {width: 100%; height: 80px; position: fixed; top: 0; background-color: royalblue; z-index: 3;}

.scroll-title {position: relative; left: 80vw; transition: all 0.001s;}
.scroll-title h2 { font-size: 90px;}

.floating {position: absolute; right: 20px; bottom: 15px; width: 100px; height: 100px; background-color: rgb(109, 58, 156); z-index: 3; border-radius: 50%;}
.floating a { top: 50%; left: 50%; display: block; position: absolute; font-size: 50px; transform: translate(-50%, -50%); color: #fff;;}